/* how do i set height/width limitations in this webpage */

body {
    margin: 0;
    width: 1000px;
    height: 500px;
    overflow: hidden;
    font-family:'Times New Roman', Times, serif;
}

/* Background Desktop Elements */

#screen video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

#top-bar {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    margin: 0;
}

#apple {
    position: absolute;
    left: 1%;
    margin-top: 5px;
    height: 20px;
    top: 5px;
    margin: 0;
}

#apple:hover + #settings {
    display:block;
}

#settings:hover {
    display:block;
}

#settings {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    color: white;
    top: 25px;
    width: 180px;
    padding: 5px;
    text-align: left;
    font-weight: 100;
    overflow: hidden;
    border-radius: 3%;
}

#clock {
    position: absolute;
    margin-top: 6px;
    left: 90%;
}

#content {
    width: inherit;
    height: inherit;
}

/* All Draggable Folders

folders: mac folder components
folder_open: text boxes with information

Goal: hover over desktop folder to reveal information

*/

figure {
    position: absolute;
    text-align: center;
    cursor: move;
}

.folder {
    height: 5%;
    max-height: 80px;
}

#folder1 {
    left: 75%;
    top: 60px;
}

#folder1:hover + #artist {
    display:block;
}

#folder2 {
    left: 80%;
    top: 200px;
}

#folder2:hover + #student {
    display:block;
}

#folder3 {
    left: 5%;
    top: 60px;
}

#folder3:hover + #myself {
    display:block;
}

.folder_open {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    color: white;
    width: 220px;
    height: 200px;
    text-align: center;
    overflow: hidden;
    border-radius: 3%;
}

#artist {
    left: 45%;
    top: 25%;
}

#artist img {
    position: relative;
    max-height: 150px;
}

#student {
    left: 45%;
    top: 45%;
}

#myself {
    left: 25%;
    top: 25%;
}

figcaption {
    color: white;
}

