body {
    margin: 0;
    overflow: hidden;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
}

/* Background Desktop Elements */

#screen video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vh;
    min-height: 75vw;
    width: 133.333333333vh;
    height: 100vh;
    object-fit: cover;
}

#top-bar {
    position: fixed;
    min-width: 100vw;
    height: 30px;
    background-color: black;
    color: white;
    top: 0;
    margin: 0;
}

#apple {
    position: absolute;
    left: 1%;
    margin-top: 5px;
    height: 20px;
    top: 5px;
    margin: 0;
}

#apple:hover + #settings {
    display:block;
}

#settings:hover {
    display:block;
}

#settings {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    color: white;
    top: 25px;
    left: 15px;
    width: 180px;
    padding: 5px;
    text-align: left;
    font-weight: 100;
    overflow: hidden;
    border-radius: 3%;
}

#clock {
    position: absolute;
    margin-top: 6px;
    right: 15px;
}

#content {
    width: inherit;
    height: inherit;
}


/* Bottom Bar Styling */

.icons {
    position: fixed;
    margin: 5px;
    height: 50px;
    bottom: 0;
}

#finder {
    left: 40vw;
}

#messages {
    left: 40vw;
    margin-left: 60px;
}

#spotify {
    left: 40vw;
    margin-left: 115px;
}

#terminal {
    left: 40vw;
    margin-left: 170px;
}

.popup {
    display: none;
    position: fixed;
    height: 70vh;
    width: 70vw;
    top: 20%;
    left: 20%;
    border-radius: 10px;
}

.popup img {
    height: 50vh;
    border-radius: 10px;
}

.popup video {
    object-fit: cover;
    height: 50vh;
    border-radius: 10px;
}


/* All Draggable Folders

folders: mac folder components
folder_open: text boxes with information

Goal: hover over desktop folder to reveal information

*/

figure {
    position: absolute;
    text-align: center;
    cursor: move;
}

.folder {
    height: 5%;
    max-height: 80px;
}

#folder1 {
    left: 75%;
    top: 60px;
}

#folder1:hover + #artist {
    display:block;
}

#folder2 {
    left: 80%;
    top: 200px;
}

#folder2:hover + #student {
    display:block;
}

#folder3 {
    left: 5%;
    top: 60px;
}

#folder3:hover + #myself {
    display:block;
}

.folder_open {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    color: white;
    width: 220px;
    height: 200px;
    text-align: center;
    overflow: hidden;
    border-radius: 3%;
}

#artist {
    left: 45%;
    top: 25%;
}

#artist img {
    position: relative;
    max-height: 150px;
}

#student {
    left: 45%;
    top: 45%;
}

#myself {
    left: 25%;
    top: 25%;
}

figcaption {
    color: white;
}

